@font-face {
    font-family: inter;
    src: url(fonts/Inter-VariableFont_opsz\,wght.ttf);
}
::-webkit-scrollbar{
    width: 0;
}
:root{
    scroll-behavior:smooth;
}
*,
*::after,
*::before{
    box-sizing: border-box;
}
html, body{
    margin: 0 auto;
    padding: 0;
}
body{
    position: relative;
}
.anchors{
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.anchors #home{
    margin-top: 50vh;
    height: 2500px;
}
.anchors #aboutme,
.anchors #summary{
    height: 110vh;
}
.anchors #education{
    height: 100vh;
}
.anchors #skills{
    height: 100vh;
}
.anchors #contact{
    height: 100vh;
}
.nav_container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
}
.nav_container .nav_slider{
    overflow: hidden;
    position: sticky;
    top: 89vh;
    width: 60vw;
    height: 10vh;
    justify-self: center;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50px;
    border: 1px solid black;
    z-index: 999;
    animation: nav-view both;
    animation-timeline: view();

    @media (max-width: 768px) {
        animation: nav-view-small both;
        animation-timeline: view();
    }

}
@keyframes nav-view {
    0%, 30%{
        width: 60vw;
        opacity: 1;
        top: 3vh;
    }
    35%{
        width: 0;
        opacity: 0;
        top: 3vh;
    }
    36%{
        width: 0;
        opacity: 0;
        top: 89vh;
    }
    40%, 100%{
        width: 60vw;
        opacity: 1;
        top: 89vh;
    }
}
@keyframes nav-view-small {
    0%, 30%{
        width: 100vw;
        opacity: 1;
        top: 3vh;
    }
    35%{
        width: 0;
        opacity: 0;
        top: 3vh;
    }
    36%{
        width: 0;
        opacity: 0;
        top: 89vh;
    }
    40%, 100%{
        width: 100vw;
        opacity: 1;
        top: 89vh;
    }
}
.nav_container .nav_slider .nav{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    place-items: center;
    text-wrap: nowrap;
}
.nav_container .nav_slider .nav a{
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: inter;
    font-size: 1.3rem;
    text-decoration: none;
    color: #000000;
}
.nav_container .nav_slider .nav a::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    top: 30px;
    left: 0;
    background-color: #000000;
    transition: 0.3s ease-in-out;
}
.nav_container .nav_slider .nav a:not(:hover):before{
    width: 0%;
}
.progress_bar{
    position: absolute;
    width: 50px;
    height: 100%;
    display: flex;
    right: 0;
    margin-right: 100px;
    padding-bottom: auto;
    border: 2px solid #ff6600;
    z-index: 1;
}
.progress_bar .outer_bar{
    width: 100%;
    border: 2px solid #000000;
}
.progress_bar .outer_bar .bar{
    margin: 0;
    position: sticky;
    display: flex;
    top: 0vh;
    bottom: 20vh;
    width: 100%;
    height: 10vh;
    color: #ffffff;
    background-color: transparent;
    border-bottom: 5px solid #ff6600;
    z-index: 1;
    animation: scroll-bar both;
    animation-timeline: view();
}
.progress_bar .outer_bar .bar::after{
    content: '';
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #000000;
}
@keyframes scroll-bar {
    0%{
        padding-top: 40vh;
    }
    100%{
        padding-top: 90vh;
    }
}
.slider{
    overflow-x: clip;
    position: relative;
    display: flex;
    width: 100%;
    height: 2000px;
    background-color: #000000;
    justify-content: center;
}
.slider .circle{
    position: absolute;
    width: 100%;
    height: 100%;
    justify-items: center;
}
.slider .circle .inner_circle{
    overflow: hidden;
    position: sticky;
    display: flex;
    width: 200px;
    height: 200px;
    top: 50vh;
    transform-origin: center;
    background-color: #ff6600;
    border-radius: 50%;
    animation: scroll-scale;
    animation-timeline: view();
}
@keyframes scroll-scale {
    0%, 30%{
        transform: scale(1);
    }
    100%{
        transform: scale(15);
    }
}
.slider .img_container{
    position: absolute;
    width: 100%;
    height: 100%;
}
.slider .img_container .img{
    position: sticky;
    margin-top: 100px;
    top: 100px;
    width: 100%;
    height: 100vh;
    background-image: url(img/hero_img.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
}
.slider .hero_text{
    position: absolute;
    width: 100%;
    height: 100%;
}
.slider .hero_text .container{
    position: sticky;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 100%;
    height: 100vh;
    top: 0;
    grid-template-areas: 
    "text1 text2"
    "text3 text4"
    ;
    @media (max-width: 768px) {
        grid-template-rows: 400px 400px;
    }
}
.slider .hero_text .container .text:nth-child(1){
    margin-top: 100px;
    grid-area: text1;
    text-align: center;
}
.slider .hero_text .container .text:nth-child(2){
    margin-top: 100px;
    grid-area: text2;
    text-align: center;
}
.slider .hero_text .container .text:nth-child(3){
    margin-left: 100px;
    grid-area: text3;
    text-align: left;
}
.slider .hero_text .container .text:nth-child(4){
    margin-right: 100px;
    grid-area: text4;
    text-align: right;
}
.slider .hero_text .container h1{
    color: #ff6600;
    margin: 0;
    padding: 2rem;
    font-size: 8rem;
    font-weight: 200;
    font-family: inter;
}
.slider .hero_text .container h2{
    color: #000000;
    margin: 0;
    padding: 2rem;
    font-size: 5rem;
    text-wrap-style: balance;
    font-weight: 200;
    font-family: inter;
}
.content_container{
    overflow-x: clip;
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
    height: 400vh;
    padding-bottom: 10vh;
    background-color: #000000;
    @media (max-width: 768px) {
        grid-template-columns: none;
        grid-template-rows: auto 1fr;
    }
}
.content_container .side_scroller{
    grid-column: 1;
    grid-row: 1 /2;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 10vh;
    margin-top: 10vh;
    transform: translateX(-50%);
    min-width: 700px;
    height: 700px;
    border-radius: 50%;
    background-color: #ff6600;
    transform-origin: left;
    animation: scroll-rotate;
    animation-timeline: view();
}
@keyframes scroll-rotate {
    0%, 30%{
        transform: rotate(0deg) translateX(-50%);
    }
    40%, 50%{
        transform: rotate(90deg) translateX(-50%) ;
    }
    60%, 70%{
        transform: rotate(180deg) translateX(-50%) 
    }
    80%, 90%{
        transform: rotate(270deg) translateX(-50%)
    }
    100%{
        transform: rotate(300deg) translateX(-50%);
    }
}
.content_container .side_scroller ul{
    position: absolute;
    margin: 0;
    padding: 20px;
    text-align: end;
    width: 100%;
    font-size: 2.5rem;
    font-family: inter;
    font-weight: 400;
    transform-origin: center;
}
.content_container .side_scroller ul:nth-child(1){
    transform: rotate(0deg);
}
.content_container .side_scroller ul:nth-child(2){
    transform: rotate(90deg);
}
.content_container .side_scroller ul:nth-child(3){
    transform: rotate(180deg);
}
.content_container .side_scroller ul:nth-child(4){
    transform: rotate(270deg);
}
.content_container .arrow{
    position: sticky;
    grid-column: 1;
    grid-row: 1 /2;
    top: 0;
    width: 100%;
    height: 100vh;
}
.content_container .arrow::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    margin-top: 43vh;
    margin-right: 290px;
    background-color: #ff6600;
    animation: scroll-fade;
    animation-timeline: view();
}
@keyframes scroll-fade {
    0%, 30%{
        opacity: 1;
    }
    35%{
        opacity: 0;
    }
    40%, 50%{
        opacity: 1;
    }
    55%{
        opacity: 0;
    }
    60%, 70%{
        opacity: 1; 
    }
    75%{
        opacity: 0;
    }
    85%, 95%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.content_container .content{
    overflow-y: clip;
    position: sticky;
    top: 10vh;
    padding-top: 10vh;
    margin-top: 5vh;
    width: 95%;
    height: 90vh;
    z-index: 2;
}
.content_container .content .card{
    position: absolute;
    width: 100%;
    height: 50vh;
    background-color: #000000;
}
.content_container .content .card:nth-child(1) .left_span{
    color: #ffffff;
    font-family: inter;
    font-size: 2rem;
    text-align: centers;
    display: flex;
    height: 100%;
    padding: 1rem;
    row-gap: 30px;
    flex-direction: column;
    justify-content: center;
    background-color: #ff66003d;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.content_container .content .card:nth-child(1) .right_span{
    position: relative;
    color: #000000;
    display: flex;
    font-family: inter;
    font-size: 2rem;
    text-align: centers;
    width: 100%;
    height: 100%;
    padding: 1rem;
    row-gap: 30px;
    justify-content: center;
    flex-direction: column;
    background-color: #ff6600;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.content_container .content .card:nth-child(1) .right_span span:nth-child(1),
.content_container .content .card:nth-child(1) .right_span span:nth-child(2),
.content_container .content .card:nth-child(1) .right_span span:nth-child(3),
.content_container .content .card:nth-child(1) .right_span span:nth-child(4){
    display: flex;
    width: min-content;
    text-wrap: nowrap;
}
.content_container .content .card:nth-child(1) .right_span span:nth-child(1):hover::after,
.content_container .content .card:nth-child(1) .right_span span:nth-child(2):hover::after,
.content_container .content .card:nth-child(1) .right_span span:nth-child(3):hover::after,
.content_container .content .card:nth-child(1) .right_span span:nth-child(4):hover::after{
    visibility: visible;
    opacity: 1;
}
.content_container .content .card:nth-child(1) .right_span span:nth-child(1)::after,
.content_container .content .card:nth-child(1) .right_span span:nth-child(2)::after,
.content_container .content .card:nth-child(1) .right_span span:nth-child(3)::after,
.content_container .content .card:nth-child(1) .right_span span:nth-child(4)::after{
    position: absolute;
    background-color: red;
    visibility: hidden;
    opacity: 0;
    content: '';
    top: 0;
    transform: rotate(-3deg);
    left: 100px;
    width: 50%;
    height: 100%;
    transition: 0.5s ease-in-out;
}
.content_container .content .card:nth-child(1) .right_span span:nth-child(1){
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.content_container .content .card:nth-child(1) .right_span span:nth-child(2){
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.content_container .content .card:nth-child(1) .right_span span:nth-child(3){
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.content_container .content .card:nth-child(1) .right_span span:nth-child(4){
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.content_container .content .card:nth-child(1){
    animation: scroll-scale1 forwards;
    animation-timeline: view();
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    place-items: center;
}
.content_container .content .card:nth-child(2){
    animation: scroll-scale2 forwards;
    animation-timeline: view();
    display: flex;
}
.content_container .content .card:nth-child(2) p{
    color: #ffffff;
    font-family: inter;
    margin: 0 auto;
    height: 100%;
    font-size: 2rem;
    display: flex;
    text-wrap-style: pretty;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    background-color: #ff66003d;
}
.content_container .content .card:nth-child(3){
    animation: scroll-scale3 forwards;
    animation-timeline: view();
    background-color: #000000;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
}
.content_container .content .card:nth-child(3) h1{
    color: #000000;
    font-family: inter;
    padding: 2rem;
    margin: 0 auto;
    width: 100%;
    background-color: #ff6600;
}
.content_container .content .card:nth-child(3) h2{
    color: #ffffff;
    font-family: inter;
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
}
.content_container .content .card:nth-child(3) .education{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: inter;
    background-color: #ff66003d;
}
.content_container .content .card:nth-child(3) .education h1{
    color: #ffffff;
    font-family: inter;
}
.content_container .content .card:nth-child(3) .education h1:hover, .content_container .content .card:nth-child(3) .education .img_preview{
    opacity: 1;
    z-index: 1;
}
.content_container .content .card:nth-child(3) .education ul{
    color: #ffffff;
    font-family: inter;
    font-size: 2rem;
}
.content_container .content .card:nth-child(4){
    animation: scroll-scale4 forwards;
    animation-timeline: view();
    display: grid;
    grid-template-rows: auto 1fr;
    width: 100%;
    background-color: #000000;
}
.content_container .content .card:nth-child(4) .skills{
    color: #000000;
    font-family: inter;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #ff6600;
}
.content_container .content .card:nth-child(4) .skills h1{
    width: 100%;
}
.content_container .content .card:nth-child(4) .box{
    color: #000000;
    font-family: inter;
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 2rem;
    background-color: #ff66003d;
    justify-content: center;
}
.content_container .content .card:nth-child(4) .box ul{
    background-color: #ff6600;
    padding: 1rem;
    font-size: 2rem;
    height: min-content;
    border-radius: 20px;
}
@keyframes scroll-scale1{
    0%{
        transform: translateX(100%) rotate(45deg);
        opacity: 0;
        filter: blur(20px);
    }
    30%, 100%{
        transform:  translateX(0%) rotate(3deg);
        opacity: 1;
        filter: blur(0px);
    }
}
@keyframes scroll-scale2{
    0%,30%{
        transform: translateX(100%) rotate(45deg);
        opacity: 0;
        filter: blur(20px);
    }
    50%, 100%{
        transform: translateX(0%) rotate(-2deg);
        opacity: 1;
        filter: blur(0px);
    }
}
@keyframes scroll-scale3{
    0%, 50%{
        transform: translateX(100%) rotate(45deg);
        opacity: 0;
        filter: blur(20px);
    }
    70%, 100%{
        transform: translateX(0%) rotate(4deg);
        opacity: 1;
        filter: blur(0px);
    }
}
@keyframes scroll-scale4{
    0%, 75%{
        transform: translateX(100%) rotate(45deg);
        opacity: 0;
        filter: blur(20px);
    }
    83%, 100%{
        transform: translateX(0%) rotate(-3deg);
        opacity: 1;
        filter: blur(0px);
    }
}
.footer{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 40vh;
    padding: 0;
    margin: 0;
    background-color: #000000;
}
.footer .infintie_slider{
    overflow: hidden;
    position: relative;
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #ff6600;
}
.footer .infintie_slider h1{
    --duration: 12s;
    font-family: inter;
    position: absolute;
    text-wrap: nowrap;
    display: flex;
    left: 100%;
    width: var(--width);
    height: 100%;
    animation: infinite_scroll;
    animation-duration: var(--duration);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: calc( (var(--duration)/var(--quantity))*(var(--position)));
    transition: 0.4s ease-in-out; 
}
.footer .infintie_slider h1:hover{
    font-size: 2.1rem;
}
@keyframes infinite_scroll{
    from{
        left: 100%;
    }
    to{
        left: calc(var(--width)*-1);
    }
}



